@font-face {
    font-family: 'Eastwood';
    src: url("/static/Eastwood.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PinkChicken';
    src: url("/static/PinkChicken-Regular.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Welcome_magic';
    src: url(/static/Welcome\ Magic.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(135deg, #bdc3c7 0%, #99a2ab 100%);
    background-repeat: no-repeat;
    background-size: contain;
}

#customh1 {
    font-family: Eastwood;
    letter-spacing: 1px;
    font-size: 3rem;
}

::-webkit-scrollbar {
    width: 8px;
    margin-right: 2px;
}

::-webkit-scrollbar-track {
    background: #bdc3c7;
}

::-webkit-scrollbar-thumb {
    background: #DAA520;
    border-radius: 50px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #f3bd1c;
}

::-webkit-scrollbar-button:single-button {
    background: #e0e0e0;
    border: none;
    display: block;
    height: 8px;
    width: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Up arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="12" width="12"><polygon points="6,2 2,8 10,8" fill="black"/></svg>');
}

/* Down arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="12" width="12"><polygon points="2,4 10,4 6,10" fill="black"/></svg>');
}

/* Left arrow */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="12" width="12"><polygon points="8,2 2,6 8,10" fill="black"/></svg>');
}

/* Right arrow */
::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="12" width="12"><polygon points="4,2 10,6 4,10" fill="black"/></svg>');
}

#login {
    width: 18rem;
    min-height: fit-content;
    border: 2px solid #DAA520;
    background-color: transparent;
    height: 20rem;

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-radius: 5px;
        background-color: transparent;
        /* color: #DAA520; */
    }
}

#login h2,
#signup h2 {
    font-family: Eastwood;
    font-size: 2.5rem;
}

#loginbtn {
    font-family: PinkChicken;
    background-color: #f3bd1c;
    color: #000;
    border: none;
    transition: all 0.3s ease;
    font-size: 1.2rem;
}

#loginbtn:hover {
    background-color: #DAA520;
}

#signup {
    width: 20rem;
    min-height: fit-content;
    border: 2px solid #DAA520;
    background-color: transparent;
    height: 26rem;

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 13rem;
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-radius: 5px;
        background-color: transparent;
    }
}

#search {
    min-height: fit-content;
    border: 2px solid #DAA520;
    background-color: transparent;

    input[type="text"] {
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-radius: 5px;
        background-color: transparent;
    }
}

#searchbtn {
    font-family: PinkChicken;
    border: 2px solid #DAA520;
    color: black;
    transition: all 0.3s ease;
    font-size: 1.2rem;
}

#searchbtn:hover {
    background-color: #DAA520;
    color: whitesmoke;
}

.logged-in {
    margin-top: 80px;
}

.custom-table {
    background-color: transparent;
    --bs-table-bg: transparent;
}

.custom-table th,
.custom-table td {
    border-right: none !important;
    border-left: none !important;
}

.custom-table thead th {
    border-bottom: 2px solid var(--bs-border-color);
}

.custom-table tbody td,
.custom-table tbody th {
    border-top: 1px solid var(--bs-border-color);
}

.custom-table {
    border: 1px solid var(--bs-border-color);
    background-color: transparent;
    --bs-table-bg: transparent;
    font-size: 1.1rem;
}

.custom-table tbody td,
.custom-table tbody th {
    color: #000;
    text-align: center;
    vertical-align: middle;
}

.custom-table .mybooks {
    width: 8%;
}

.custom-table thead th {
    color: #000;
    text-align: center;
    vertical-align: middle;
}

.image_db {
    height: 10rem;
    width: 7rem
}

.index {
    font-family: Welcome_magic;
}

#navlogin {
    border-bottom: 1px solid whitesmoke;
    backdrop-filter: blur(10px);
    min-height: 80px;
}

#navlogedout {
    border-bottom: 1px solid whitesmoke;
    backdrop-filter:
        blur(10px);
    min-height: fit-content;
}

#book-card {
    min-height: 11.5rem;
    background-color: transparent;
    max-height: fit-content;
}

/* Spinner styles */
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    /* Initially hidden */
    transition: all 0.3s ease;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: .3rem;
}

.loader {
    scale: 0.8;
    --background: linear-gradient(135deg, #DAA520, #f3bd1c);
    --shadow: #ffe391c3;
    --text: #6C7486;
    --page: rgba(255, 255, 255, 0.36);
    --page-fold: rgba(255, 255, 255, 0.52);
    --duration: 3s;
    width: 200px;
    height: 140px;
    position: relative;
}

.loader:before,
.loader:after {
    --r: -6deg;
    content: "";
    position: absolute;
    bottom: 8px;
    width: 120px;
    top: 80%;
    box-shadow: 0 16px 12px var(--shadow);
    transform: rotate(var(--r));
}

.loader:before {
    left: 4px;
}

.loader:after {
    --r: 6deg;
    right: 4px;
}

.loader div {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    perspective: 600px;
    box-shadow: 0 4px 6px var(--shadow);
    background-image: var(--background);
}

.loader div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.loader div ul li {
    --r: 180deg;
    --o: 0;
    --c: var(--page);
    position: absolute;
    top: 10px;
    left: 10px;
    transform-origin: 100% 50%;
    color: var(--c);
    opacity: var(--o);
    transform: rotateY(var(--r));
    -webkit-animation: var(--duration) ease infinite;
    animation: var(--duration) ease infinite;
}

.loader div ul li:nth-child(2) {
    --c: var(--page-fold);
    -webkit-animation-name: page-2;
    animation-name: page-2;
}

.loader div ul li:nth-child(3) {
    --c: var(--page-fold);
    -webkit-animation-name: page-3;
    animation-name: page-3;
}

.loader div ul li:nth-child(4) {
    --c: var(--page-fold);
    -webkit-animation-name: page-4;
    animation-name: page-4;
}

.loader div ul li:nth-child(5) {
    --c: var(--page-fold);
    -webkit-animation-name: page-5;
    animation-name: page-5;
}

.loader div ul li svg {
    width: 90px;
    height: 120px;
    display: block;
}

.loader div ul li:first-child {
    --r: 0deg;
    --o: 1;
}

.loader div ul li:last-child {
    --o: 1;
}

.loader span {
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 20px;
    text-align: center;
    color: var(--text);
}

@keyframes page-2 {
    0% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    35%,
    100% {
        opacity: 0;
    }

    50%,
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-3 {
    15% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }

    65%,
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-4 {
    30% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    65%,
    100% {
        opacity: 0;
    }

    80%,
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-5 {
    45% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    80%,
    100% {
        opacity: 0;
    }

    95%,
    100% {
        transform: rotateY(0deg);
    }
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: transparent;
    border: 2px solid yellow;
    color: yellow;
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
    font-weight: 900;
    transition: all 0.3s ease;
}

#scrollToTopBtn:hover {
    background-color: yellow;
    color: black;
}

#eye {
    position: absolute; 
    transform: translateX(4.4rem) translateY(-2.3rem); 
    cursor: pointer;
    color: white;
    visibility: hidden;
}