<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="static/logo.png" type="image/png">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Genreizz{% block title %}{% endblock %}</title>
</head>

<body>
    {% if alert %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <svg id="alerticon" xmlns="http://www.w3.org/2000/svg"
            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
            aria-label="Warning:">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        {{ alert }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% if session["user_id"] %}
    <nav class="navbar navbar-dark fixed-top" id="navlogin">
        <div class="container-fluid ps-5 pe-5">
            <a class="navbar-brand" href="/dashboard">
                <img src="static/logo.png" alt="Genreizz" width="53" height="53">
            </a>
            <form action="/search" method="post" class="d-flex" role="search">
                <input class="form-control me-2" id="search" type="search" placeholder="Enter Book Name"
                    aria-label="Search" name="query">
                <button class="btn btn-outline-success" type="submit" id="searchbtn">Search</button>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation"
                style="border: 5px solid rgba(255, 255, 255, 0.1);">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel"
                style="height: 100vh; background-color: transparent; backdrop-filter: blur(100px);">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="color: whitesmoke;">Genreizz</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/bestsellers">Best Sellers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/recommendations">Get Recommendations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/mybooks">My Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/readlist">Readlist</a>
                        </li>
                    </ul>
                    <form action="/logout" method="get" class="d-flex">
                        <button class="btn btn-outline-light position-absolute start-2" type="submit"
                            style="bottom: 2rem;">Log Out</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <button id="scrollToTopBtn" data-bs-custom-class="custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-title="Back to top"><i class="fa-solid fa-angle-up fa-lg"></i></button>

    {% else %}
    <nav class="navbar navbar-expand-lg ps-5" id="navlogedout">
        <div class="container-fluid">
            <a class="navbar-brand" href="/login">
                <img src="static/logo.png" alt="Genreizz" width="53" height="53">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav position-absolute end-0 pe-5">
                    <a class="nav-link active" href="/register">Register</a>
                    <a class="nav-link active" href="login">Log In</a>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}

    <main class="container-fluid py-5 text-center {% if session['user_id'] %} logged-in {% endif %}"
        style="min-height: 100vh;">
        <div class="spinner-wrapper">
            <div class="book">
                <div class="inner">
                    <div class="left"></div>
                    <div class="middle"></div>
                    <div class="right"></div>
                </div>
                <ul>
                    <!-- Loop to generate li elements -->
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <div class="container-fluid bg-dark text-white text-center py-3">
            <p>Data provided by Google Books API</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/main.js"></script>
</body>

</html>