{% extends "layout.html" %}

{% block title %}: My books
{% endblock %}

{% block main %}

{% if books|length == 0 %}

<h1 class="position-absolute top-50 start-50 translate-middle" id="customh1">You Have No Books In Your Library</h1>

{% else %}
<table class="table border-warning-subtle", style="background-color: transparent;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
{% endif %}
{% endblock %}